/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../foundation.css);
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*@import "../foundation/components/interchange";*/
/* line 9, ../sass/screen.scss */
html {
  font-size: 1em;
}
@media only screen and (max-width: 40em) {
  /* line 9, ../sass/screen.scss */
  html {
    font-size: .8em;
  }
}

@font-face {
  font-family: 'Gotham';
  src: url("../../../fonts/GothamRnd-Light.otf");
}

/* line 41, ../sass/screen.scss */
body {
  background-color: #edeee3;
}

/* line 47, ../sass/screen.scss */
#menu {
  position: fixed;
  z-index: 1000000000000;
}

/* line 52, ../sass/screen.scss */
.si-icons {
  vertical-align: top !important;
  position: relative;
  top: 3%;
  right: 7%;
  display: block;
  z-index: 1000000000000;
}
@media screen and (max-height: 30.5em) {
  /* line 52, ../sass/screen.scss */
  .si-icons {
    top: 0%;
    right: 15%;
  }
}
/* line 65, ../sass/screen.scss */
.si-icons span {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 40px 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
  margin-left: 92%;
  position: relative;
  z-index: 400001;
}

/* line 80, ../sass/screen.scss */
svg {
  width: 70%;
}

/* Fallback for browsers that don't support SVG - Generated with http://iconizr.com/ */
/* line 84, ../sass/screen.scss */
.no-svg .si-icon-hamburger, .no-svg .si-icon-hamburger-cross {
  background-image: url("img/hamburger.png");
}

/* Overlay style */
/* line 89, ../sass/screen.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(226, 91, 151, 0.9);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  /* Overlay closing cross */
  /* Menu style */
}
/* line 101, ../sass/screen.scss */
.overlay .overlay-close {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 6%;
  overflow: hidden;
  border: none;
  background: no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 1000000000000000000000;
}
/* line 115, ../sass/screen.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 124, ../sass/screen.scss */
.overlay nav ul li {
  display: block;
  height: 20%;
}
/* line 127, ../sass/screen.scss */
.overlay nav ul li:hover {
  background: white;
}
/* line 129, ../sass/screen.scss */
.overlay nav ul li:hover a {
  color: #595548;
}
/* line 133, ../sass/screen.scss */
.overlay nav ul li a {
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 4.5rem;
}

@media screen and (max-height: 30.5em) {
  /* line 146, ../sass/screen.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
    margin-top: 15%;
  }

  /* line 151, ../sass/screen.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
/* Effects */
/* line 157, ../sass/screen.scss */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
/* line 162, ../sass/screen.scss */
.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
/* line 165, ../sass/screen.scss */
.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* line 175, ../sass/screen.scss */
.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 4000;
}

/* line 183, ../sass/screen.scss */
.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 189, ../sass/screen.scss */
.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

/* line 203, ../sass/screen.scss */
.main {
  width: 100%;
  height: 100%;
  background-image: url("../../../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  padding: 1rem;
}
/* line 209, ../sass/screen.scss */
.main .mainText {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 212, ../sass/screen.scss */
.main .mainText .mainTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3em;
  color: #7b7663;
  margin-bottom: 1.5rem;
}
/* line 218, ../sass/screen.scss */
.main .mainText strike {
  color: #e25b97;
}
/* line 221, ../sass/screen.scss */
.main .mainText .tagLine {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5em;
  color: #595548;
  margin-bottom: 3.4rem;
}
@media only screen and (max-width: 40em) {
  /* line 221, ../sass/screen.scss */
  .main .mainText .tagLine {
    margin-bottom: 1.5rem;
    font-size: 2.75em;
    line-height: 3rem;
  }
}
/* line 235, ../sass/screen.scss */
.main .mainText .actionButton {
  background-color: #e25b97;
  color: #edeee3;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 242, ../sass/screen.scss */
.main .mainText .actionButton:hover {
  background-color: #c8437e;
}

/* line 248, ../sass/screen.scss */
.section2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #595548;
  line-height: 1.5em;
}
/* line 255, ../sass/screen.scss */
.section2 img {
  padding-top: 1rem;
  width: 6%;
}
@media only screen and (max-width: 40em) {
  /* line 255, ../sass/screen.scss */
  .section2 img {
    width: 10%;
  }
}
/* line 264, ../sass/screen.scss */
.section2 .section2Text {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
/* line 268, ../sass/screen.scss */
.section2 .section2Text span {
  color: #e25b97;
  font-size: 1em;
}

/* line 278, ../sass/screen.scss */
.bottomArrowContainer, .arrowContainer {
  width: 100%;
}

/* line 285, ../sass/screen.scss */
.arrowText {
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: .70em;
  color: #595548;
  margin-top: .5rem;
  font-style: italic;
}

/* line 295, ../sass/screen.scss */
.arrowContainer {
  margin-top: -.5rem;
}

/* line 300, ../sass/screen.scss */
.bottomArrowContainer {
  margin-top: -1.1rem;
}

/* line 305, ../sass/screen.scss */
.arrow {
  display: inline-block;
  position: relative;
  padding: .25rem;
  /* Arrow size */
  box-shadow: 1px -1px 0 1px #595548 inset;
  -webkit-box-shadow: 1px -1px #595548 inset;
  border: solid transparent;
  transition: 0.2s;
  margin: 0 auto;
}

/* line 316, ../sass/screen.scss */
.arrow-down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/* line 324, ../sass/screen.scss */
.workIntro {
  margin-top: 2rem;
}
/* line 327, ../sass/screen.scss */
.workIntro .logo {
  width: 9%;
}
@media only screen and (orientation: landscape) {
  /* line 327, ../sass/screen.scss */
  .workIntro .logo {
    width: 9%;
  }
}
@media only screen and (max-width: 40em) {
  /* line 335, ../sass/screen.scss */
  .workIntro #vettoLogo {
    width: 7%;
  }
}
@media only screen and (orientation: landscape) {
  /* line 335, ../sass/screen.scss */
  .workIntro #vettoLogo {
    width: 7%;
  }
}

/* line 345, ../sass/screen.scss */
.workTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #595548;
  margin-top: .5rem;
}
@media only screen {
  /* line 345, ../sass/screen.scss */
  .workTitle {
    font-size: 1em;
  }
}

/* line 356, ../sass/screen.scss */
hr {
  width: 10%;
  border: solid #595548;
  border-width: 2px 0 0;
  margin: 1rem auto 0rem;
}

/* line 364, ../sass/screen.scss */
.ourRole {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: .9em;
  color: #595548;
  margin-top: 1rem;
  letter-spacing: .2px;
}

/* line 371, ../sass/screen.scss */
.ourRoleDetail {
  font-family: 'Gotham';
  color: #595548;
  margin-top: .5rem;
  font-size: .65em;
}

/* line 379, ../sass/screen.scss */
.workScreenShots {
  margin-top: 2.5rem;
}

/* line 384, ../sass/screen.scss */
.orbit-container {
  overflow: visible !important;
}

/* line 387, ../sass/screen.scss */
.orbit-slides-container {
  overflow: hidden !important;
}

/* line 392, ../sass/screen.scss */
.orbit-container .orbit-prev span,
.orbit-container .orbit-next span {
  border: none;
  font-size: 70px;
  text-indent: 0;
  margin-top: -32px;
}

/* line 399, ../sass/screen.scss */
.orbit-container .orbit-prev {
  background-color: transparent;
  margin-left: -50px;
  top: 50%;
}
/* line 403, ../sass/screen.scss */
.orbit-container .orbit-prev:hover {
  background: transparent;
}
/* line 406, ../sass/screen.scss */
.orbit-container .orbit-prev span {
  margin-top: 0px;
  left: 40%;
}

@media only screen and (max-width: 40em) {
  /* line 415, ../sass/screen.scss */
  .roScreenshots .orbit-container .orbit-prev {
    visibility: hidden;
    margin-left: 0px;
  }
  /* line 419, ../sass/screen.scss */
  .roScreenshots .orbit-container .orbit-next {
    visibility: hidden;
    margin-right: 0px;
  }
}
/* line 426, ../sass/screen.scss */
.orbit-container .orbit-prev span:before {
  content: "";
  display: block;
  position: relative;
  padding: .4rem;
  /* Arrow size */
  box-shadow: 1px -1px 0 1px #595548 inset;
  -webkit-box-shadow: 2px -2px #595548 inset;
  border: solid transparent;
  border-width: 0 0 0rem 0rem;
  transition: 0.2s;
  margin: 0 auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* line 442, ../sass/screen.scss */
.orbit-container .orbit-next {
  background-color: transparent;
  margin-right: -50px;
  top: 50%;
}
/* line 446, ../sass/screen.scss */
.orbit-container .orbit-next:hover {
  background: transparent;
}
/* line 449, ../sass/screen.scss */
.orbit-container .orbit-next span {
  margin-top: 0px;
  right: 40%;
}

/* line 454, ../sass/screen.scss */
.orbit-container .orbit-next span:before {
  content: "";
  display: block;
  position: relative;
  padding: .4rem;
  /* Arrow size */
  box-shadow: 1px -1px 0 1px #595548 inset;
  -webkit-box-shadow: 2px -2px #595548 inset;
  border: solid transparent;
  border-width: 0 0 0rem 0rem;
  transition: 0.2s;
  margin: 0 auto;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

/* line 473, ../sass/screen.scss */
.orbit-slides-container img {
  margin: 0 auto;
}

/* line 477, ../sass/screen.scss */
.ourProcessIntro {
  padding-top: 2rem;
}

/* line 481, ../sass/screen.scss */
.ourProcess {
  width: 100%;
  height: auto;
  background-image: url("../../../img/our-process.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
  padding: 1rem;
}
/* line 488, ../sass/screen.scss */
.ourProcess hr {
  border: solid #edeee3;
  width: 10%;
  border-width: 2px 0 0;
  margin: 1rem auto 0rem;
}
/* line 494, ../sass/screen.scss */
.ourProcess img {
  width: 8%;
  margin-top: 3rem;
  margin-bottom: .5rem;
}
@media only screen and (max-width: 40em) {
  /* line 494, ../sass/screen.scss */
  .ourProcess img {
    width: 16%;
  }
}
@media only screen and (orientation: landscape) {
  /* line 494, ../sass/screen.scss */
  .ourProcess img {
    width: 5%;
  }
}
/* line 507, ../sass/screen.scss */
.ourProcess .workTitle {
  color: #edeee3;
  letter-spacing: 1px;
  font-size: 1.6em;
}
/* line 512, ../sass/screen.scss */
.ourProcess .subheader {
  margin-top: 1rem;
  color: #edeee3;
  font-family: 'Gotham';
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .75em;
}
/* line 520, ../sass/screen.scss */
.ourProcess .arrowText {
  margin-top: 3rem;
  color: #edeee3;
  letter-spacing: 1px;
}
/* line 525, ../sass/screen.scss */
.ourProcess .arrowSuperContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* line 529, ../sass/screen.scss */
.ourProcess .arrow {
  box-shadow: 1px -1px 0 1px #edeee3 inset;
  -webkit-box-shadow: 2px -2px #edeee3 inset;
}
/* line 533, ../sass/screen.scss */
.ourProcess .bottomArrowContainer {
  margin-top: -1.4rem;
}

/* line 538, ../sass/screen.scss */
.featuredIn {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: white;
}
@media only screen {
  /* line 538, ../sass/screen.scss */
  .featuredIn {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
/* line 546, ../sass/screen.scss */
.featuredIn .prLogo {
  margin-top: 3rem;
  vertical-align: middle;
}
@media only screen {
  /* line 546, ../sass/screen.scss */
  .featuredIn .prLogo {
    margin-top: 2.2rem;
  }
}
/* line 552, ../sass/screen.scss */
.featuredIn .prLogo img {
  height: 2rem;
}
@media only screen {
  /* line 552, ../sass/screen.scss */
  .featuredIn .prLogo img {
    margin-bottom: 1.5rem;
  }
}

/* line 563, ../sass/screen.scss */
.contactUs {
  padding-top: 3rem;
  /*// padding-bottom: 3rem;*/
}
/* line 567, ../sass/screen.scss */
.contactUs p {
  margin-top: 3rem;
  /*// margin-bottom: 1.5rem;*/
  font-size: 1.6em;
}
/* line 572, ../sass/screen.scss */
.contactUs .ourRoleDetail {
  font-size: 1em;
}
/* line 575, ../sass/screen.scss */
.contactUs .actionButton {
  background-color: #e25b97;
  color: #edeee3;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3rem;
}
/* line 583, ../sass/screen.scss */
.contactUs .actionButton:hover {
  background-color: #edeee3;
  color: #e25b97;
  border: 2px solid #e25b97;
  text-decoration: none;
}
/* line 588, ../sass/screen.scss */
.contactUs .actionButton:hover a {
  color: #e25b97;
}

/* line 596, ../sass/screen.scss */
.main {
  position: fixed;
  z-index: 96;
  top: 0px;
}
@media only screen and (max-width: 64em) {
  /* line 596, ../sass/screen.scss */
  .main {
    position: relative;
    z-index: 0;
  }
}

/* line 606, ../sass/screen.scss */
section {
  margin-bottom: 290px;
  position: relative;
  z-index: 98;
  background-color: #edeee3;
  padding-top: 1rem;
}
@media only screen and (max-width: 64em) {
  /* line 606, ../sass/screen.scss */
  section {
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 0;
  }
}

/* line 619, ../sass/screen.scss */
.contactUs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: 1;
}
@media only screen and (max-width: 40em) {
  /* line 619, ../sass/screen.scss */
  .contactUs {
    padding-bottom: 1.5rem;
    padding-top: 0rem;
    height: 150px;
  }
}
@media only screen and (max-width: 64em) {
  /* line 619, ../sass/screen.scss */
  .contactUs {
    position: relative;
    z-index: 0;
  }
}

/* line 638, ../sass/screen.scss */
footer .copyright {
  color: #595548;
  font-family: 'Gotham';
  font-size: .7em;
  float: left;
  margin-top: 1.45rem;
}
/* line 645, ../sass/screen.scss */
footer .icon-container {
  float: right;
  margin-top: .45rem;
}
/* line 649, ../sass/screen.scss */
footer img {
  width: 2.2em;
  height: auto;
  margin-top: .6rem;
}
